.idea
dataset/point/pred
dataset/point/merged
dataset/point/root
dataset/point/erosion
npy
weights
submission
selective_ensemble/labels_details
selective_ensemble/selected_images
selective_ensemble/selected_images_details
