[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-image = "*"
keras = "==2.2.0"
keras-contrib = {git = "https://www.github.com/keras-team/keras-contrib.git"}
opencv-python = "*"
click = "*"
tensorflow-gpu = "==1.8.0"

[dev-packages]

[requires]
python_version = "3.6"
